1B/Foundations of Software Engineering/practical_1_unix_local_machine_1/practical_1_unix_local_machine_1/[0-9]*
._*
*.DS_Store
*.virtual_documents*
*-checkpoint*
launch.json
1B/Introduction to Data Science/ds-intro
1B/Foundations of Software Engineering/FSE_2023_G4
settings.json
2/CV/Szeliski_CVAABook_2ndEd.pdf
.idea
*.gz

/2/CV/intro2cv.zip
2/NLP/Grades.xlsx
2/CV/*.jpg
2/CV/*/*.jpg
2/CV/*/*/*.jpg
2/NLP/2023/Videos
